h1 
	{font-family: Verdana,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 24px;
	}
	
p
	{font-family: Verdana,Helvetica,sans-serif;
	font-size: 12px;
	}

img
	{float:left;
	padding: 1%;
	}
	
video
	{padding-top: 10px;
	}